@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
}

// (Dark Mode Elements)
$DarkBlue: hsl(209, 23%, 22%);

// (Dark Mode Background)
$VeryDarkBlue: hsl(207, 26%, 17%);

// (Light Mode Text)
$LightDarkBlue: hsl(200, 15%, 8%);

// (Light Mode Input)
$DarkGray: hsl(0, 0%, 52%);

// (Light Mode Background)
$VeryLightGray: hsl(0, 0%, 98%);

// (Dark Mode Text & Light Mode Elements)
$White: hsl(0, 0%, 100%);

img {
    width: 100%;
    display: block;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 14px;
    font-weight: 300;
    background-color: $VeryLightGray;
    color: $LightDarkBlue;
}

.darkMode {
    background-color: $VeryDarkBlue;
    color: $White;

    input[type='search']::placeholder {
        color: $White;
    }

    .search-input {
        background-color: $DarkBlue;
    }

    select {
        background: transparent;
        color: $White;
    }

    option {
        background-color: $DarkBlue;
    }

    button {
        background-color: $DarkBlue;
        color: $White;
        font-weight: 600;
    }
}

.container {
    padding: 1rem 5rem;
}

button {
    padding: 5px 32px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.50);
    color: $LightDarkBlue;
    font-weight: 600;
}

@media (max-width: 768px) {
    .container {
        padding: 1rem 3rem;
    }
}